Package: starter-kit-blinkenlights-demo
Version: <<VERSION>>
Section: electronics
Maintainer: Matthias Bolte <matthias@tinkerforge.com>
Architecture: all
Priority: optional
Installed-Size: <<INSTALLED_SIZE>>
Depends: python, python-qt4
Description: Starter Kit: Blinkenlights Demo
 This demo provides a small Qt GUI to demonstrate the features of the
 Starter Kit: Blinkenlights from Tinkerforge (see www.tinkerforge.com)
